*, 
::before,
::after{
      box-sizing: border-box;
      margin: 0 auto;
  }
  :root {
    --neon-color-pink: rgb(239, 0, 237);
    --neon-color-turquoise: #00F9FF;
    --white: rgb(255, 255, 255);
    --background-color: rgb(23, 27, 29);
}
body {
  background-color:var(--background-color);
  background-image: url("assets/images/Lines.png");
  color: var(--white);
}